<hello name="{{ name }}"></hello>
<app-theme-switcher></app-theme-switcher>
<mat-card>
  <h1>Mat snackbar</h1>
  <button mat-button (click)="sendError()">Error</button><br />

  <button mat-button (click)="sendSuccess()">Success</button><br />

  <button mat-button (click)="sendInfo()">Info</button><br />

  <button mat-button (click)="sendWarning()">Warning</button><br />
</mat-card>
<mat-card>
  <h1>Ngx-toastr</h1>
  <button mat-stroked-button (click)="sendError2()">Error</button>

  <button mat-stroked-button color="primary" (click)="sendSuccess2()">Success</button>

  <button mat-stroked-button color="accent" (click)="sendInfo2()">Info</button>

  <button mat-stroked-button color="warn" (click)="sendWarning2()">Warning</button>
</mat-card>
  <app-toast></app-toast>
  <app-toastr></app-toastr>