<hello name="{{ name }}"></hello>

<mat-card>
  <h1>Mat snackbar</h1>
  <button mat-button (click)="sendError()">Error</button><br />

  <button mat-button (click)="sendSuccess()">Success</button><br />

  <button mat-button (click)="sendInfo()">Info</button><br />

  <button mat-button (click)="sendWarning()">Warning</button><br />
</mat-card>
<mat-card>
  <h1>Ngx-toastr</h1>
  <button mat-button (click)="sendError2()">Error</button><br />

  <button mat-button (click)="sendSuccess2()">Success</button><br />

  <button mat-button (click)="sendInfo2()">Info</button><br />

  <button mat-button (click)="sendWarning2()">Warning</button><br />
</mat-card>
  <app-toast></app-toast>
  <app-toastr></app-toastr>