/* Add application styles & imports to this file! */


/* @import '@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import './custom-theme.scss'; */
@import './toastr/toaster.scss';

.error, .Error{
  background-color: coral !important;
}

.success{
  background-color: lightgreen;
}

.warning{
  background-color:#eced9d;
}

.info{
  background-color: lightblue;
}

.toast{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
}